/*css a des proriétés qui vont cerer le decalage ; margin left button..
le pb de ces propriétés le pb c est qu elles vont creer des decalages mais conserver le flux */
body {
  background-color: grey;
}
.row {
  display: flex;
}
.square {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: solid 2px;
  margin-right: 20px;
  margin-top: 30px;
}
/*la j ai les elemnts les uns en dessous des autres , je 
veux les mettre l un en dessous des autres */
/* je mets display flex et je la nnoce toujours a mon parent*/
/*je veux que mon bloc 2 soit decalé */

/* ceci a poussé la totalité de sblocs; par default 
on fait un decalage en conservant le flux 
.move {
  margin-top: 50px;
  margin-left: 30px;
}*/
/*si on veut faire une superpositin il faut utliser les positions*/
/*le positionnement par default est le poistionnements statique */
/*.move {
  margin-top: 50px;
  margin-left: 30px;
}*/
.move {
  position: relative;
  left: 100%;
}
/*comment gerer les positions?on declare le bloc on a 4 propriétées 
position relative 
exleft20px
move {
  position: relative;
  left: 20px;
}
top: declage du haut vers le bas 
top:20px
un decalage peut etre negatif 
top:-20px
left:-100%
le pourcentage permet de dire je evux -10 % de mon elemnt
c est mieux quand on utilise le responsive */
